
img{
    width: 200px ;
}
 

#content{
    position: relative;
    height: 400px;
}

#content a{
    position: absolute;
}

#img-1{
    bottom: 0px;    
}

#img-2{
    left: 80%;
    bottom: 5%;
    
}

#img-3{
    left: 300px;
    
}

#img-4{
    left: 50%;
    bottom: 5px;
}

#img-5{
    left: 900px;
    
}